@charset "UTF-8";
@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf');
}
*{
min-height: 100%;
}

/* Configurações dos títulos h1 */

h1{
    font-size: 48px;
}

/* Configurações do corpo */

body{
    background-image: linear-gradient(to bottom, black, grey);
    background-size: contain;
    font-family: 'Roboto';
    color: white;
    text-align: center;
}

/* Configurações do main */

main{
    background-color: rgb(0, 0, 0, 0.25);
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

}

/* Configurações dos parágrafos */

p{
    display:inline-block;
    text-align: center;
}

/* Configurações das imagens */

img{
    background-color: rgb(255, 255, 255, 0.5);
}

/* Configurações de hyperlinks de texto */

.hypertexto{
    background-color: rgb(255, 255, 255, 0.5);
    color:rgb(0, 0, 0);
    text-decoration: none;
}
.hypertexto:hover{
    color:rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: underline;
}

